:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: var(--font-base);
  font-weight: 300;
  color: #333;
  background: #f7e16f;
  background: linear-gradient(320deg, rgba(247, 225, 111, 1) 0%, rgba(247, 152, 104, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;

  margin: 0;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 2rem;
  font-family: var(--font-heading);
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;

  @media (min-width: 992px) {
    font-size: 4.5rem;
  }
}

h2 {
  font-family: var(--font-heading);
  font-size: 28px;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
  text-wrap: balance;

  @media (min-width: 992px) {
    font-size: 2.4rem;
  }
}

p {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;

  @media (max-width: 1024px) {
    padding: 80px 15px;
  }

  @media (max-width: 768px) {
    padding: 60px 10px;
  }

  @media (max-width: 400px) {
    padding: 40px 5px;
  }

  h1 {
    margin: 0;
  }
  h2 {
    margin: 3rem 0;
    max-width: 800px;
    font-size: 18px;
    font-family: var(--font-base);
    @media (min-width: 992px) {
      font-size: 24px;
    }
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 1;
    font-size: 16px;
    font-weight: 200;
    margin: 0;

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }

  h1 {
    color: transparent;
    user-select: none;
  }

  .char {
    color: #333;
    opacity: 0;
    visibility: hidden;
    display: inline-block; /* Essential for transform/y to work */
    transform: translateY(30px); /* This is your 'y' starting position */
  }
}

.advantagesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  max-width: 350px;

  @media (min-width: 992px) {
    max-width: 900px;
  }
}

.ctas {
  display: flex;
  gap: 32px;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.cta {
  display: block;
  width: 200px;
  background: transparent;
  border-radius: 40px;
  border: 2px solid #333;
  text-decoration: none;
  display: inline-block;
  padding: 5px 12px;
  font-size: 1rem;
}

.ctaPrimary {
  background: #333;
  color: rgb(247, 188, 111);
}

.topicsSection {
  padding: 60px 15px;
  background-color: rgba(257, 257, 257, 0.05);
  border-block: 2px dashed rgba(257, 257, 257, 0.4);

  @media (min-width: 1024px) {
    padding: 80px 20px;
  }

  h3 {
    font-size: 1rem;
  }
}

.topicsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
  @media (min-width: 1024px) {
    gap: 128px;
  }
  img {
    margin: 0 auto;
    max-width: 128px;
    opacity: 0.75;
  }
}

.adminScreensSection {
  max-width: 1070px;
  margin: 0 auto;
  padding: 60px 15px;

  @media (min-width: 1024px) {
    padding: 80px 20px;
  }
}

.adminScreenRow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 15px;
  max-width: 1200px;
  text-align: center;
  @media (min-width: 1024px) {
    gap: 90px;
    flex-direction: row;
    text-align: left;
  }

  img {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  p {
    text-wrap: balance;
  }
}

.image-first {
  @media (min-width: 1024px) {
    div {
      order: 2;
    }
    img {
      order: 1;
    }
  }
}

.brandsSection {
  padding: 60px 15px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  color: #fff;

  text-align: center;

  @media (min-width: 1024px) {
    padding: 80px 20px;
  }

  h2 {
    opacity: 0.75;
    font-family: var(--font-base);
    font-size: 18px;
    font-weight: 200;
    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }

  img {
    filter: invert(1);
  }
}

.brandsGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  opacity: 0.65;
  @media (min-width: 1024px) {
    gap: 40px;
  }
}

.featuresSection {
  padding: 60px 15px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px dashed rgba(255, 255, 255, 1);

  @media (min-width: 1024px) {
    padding: 80px 20px;
  }

  h3 {
    max-width: 800px;
    margin-inline: auto;
    font-weight: 300;
  }
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: left;
  row-gap: 40px;

  h3 {
    margin: 20px 0;
    font-weight: 700;
  }

  .featureItem {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      border-right: 1px dashed rgba(255, 255, 255, 1);

      &:last-child {
        border-right: none;
      }
    }

    span {
      line-height: 1;
    }
    p {
      margin: 0;
    }
  }
}

.contactSection {
  padding: 60px 15px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    padding: 80px 20px;
    display: flex;
  }

  h2 {
    margin-bottom: 40px;
    text-align: center;
    @media (min-width: 1024px) {
      text-align: left;
    }
  }

  .form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 80%;

    @media (min-width: 1024px) {
      max-width: 40%;
    }

    input,
    textarea {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      font-family: var(--font-base);
      resize: vertical;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.35);
    }

    button {
      align-self: flex-start;
      padding: 10px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      background-color: #333;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #555;
      }
    }
  }
}

.sendButtonContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #333333;
  border: 2px solid;
  position: relative;
  display: inline-block;
}
.loader::before {
  content: '';
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}

::placeholder {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 1; /* Fix for Firefox default opacity */
}

/* Older Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
}

/* Older Firefox 19+ */
::-moz-placeholder {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 1;
}

/* Older Internet Explorer 10+ */
:-ms-input-placeholder {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
}

/* Older Firefox 18- */
:-moz-placeholder {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
}

.confirmationMessage {
  width: fit-content;
  background-color: #75f542c5;
  padding: 8px 16px;
  color: #333333;
  border-radius: 8px;
  p {
    margin: 0;
  }
}
