:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-size: 1.125rem;
  line-height: 1.75rem;

  color: #333;
  background: #f7e16f;
  background: linear-gradient(320deg, rgba(247, 225, 111, 1) 0%, rgba(247, 152, 104, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;

  margin: 0;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;

  @media (min-width: 992px) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
  text-wrap: balance;
  max-width: 800px;

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

p {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;

  @media (max-width: 1024px) {
    padding: 80px 15px;
  }

  @media (max-width: 768px) {
    padding: 60px 10px;
  }

  @media (max-width: 400px) {
    padding: 40px 5px;
  }

  h1 {
    margin: 0;
  }
  h2 {
    margin: 3rem 0;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 1;
    font-size: 16px;
    font-weight: 200;
    margin: 0;

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }
}

.advantagesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  max-width: 350px;

  @media (min-width: 992px) {
    max-width: 900px;
  }
}

.ctas {
  display: flex;
  gap: 32px;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.cta {
  display: block;
  width: 200px;
  background: transparent;
  border-radius: 40px;
  border: 2px solid #333;
  text-decoration: none;
  display: inline-block;
  padding: 5px 12px;
  font-size: 1rem;
}

.ctaPrimary {
  background: #333;
  color: rgb(247, 188, 111);
}

.topicsSection {
  padding: 60px 15px;
  background-color: rgba(257, 257, 257, 0.1);
  border-block: 2px dashed rgba(257, 257, 257, 0.4);

  @media (min-width: 1024px) {
    padding: 80px 20px;
  }

  h3 {
    font-size: 1rem;
  }
}

.topicsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
  @media (min-width: 1024px) {
    gap: 128px;
  }
  img {
    margin: 0 auto;
    max-width: 128px;
  }
}
